<ng-container class="form-group">
  <input #customInput
         id="customInput"
         [type]="type"
         [name]="name"
         [(ngModel)]="field"
         class="form-control"
         autocomplete="off"
         required>
  <label [for]="name" class="form-control-placeholder">{{name}}</label>
  <span class="focus-border"></span>

    <i *ngIf="isInputValid" class="fas fa-check-circle check-icon"></i>

  <i *ngIf="name === 'Password'" class="far fa-eye-slash eye-icon"></i>

</ng-container>



