@import "../../../../assets/styles/colors";

input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  padding: 0.2rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid $light-gray;
  border-radius: 0.2rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
  padding-bottom: 0.4rem;
  margin-right: 0.4rem;
  vertical-align: center;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: $main-color-cyan;
  border-color: $main-color-cyan;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
