<div class="loaders-section">
  <div class="loader-image gradient"></div>
  <div class="loader-text-wrapper">
    <div class="loader-text gradient"></div>
    <div class="loader-text gradient"></div>
  </div>
  <div class="loader-amount gradient"></div>
</div>

<div class="loaders-section">
  <div class="loader-image gradient"></div>
  <div class="loader-text-wrapper">
    <div class="loader-text gradient"></div>
    <div class="loader-text gradient"></div>
  </div>
  <div class="loader-amount gradient"></div>
</div>

<div class="loaders-section">
  <div class="loader-image gradient"></div>
  <div class="loader-text-wrapper">
    <div class="loader-text gradient"></div>
    <div class="loader-text gradient"></div>
  </div>
  <div class="loader-amount gradient"></div>
</div>

<div class="loaders-section">
  <div class="loader-image gradient"></div>
  <div class="loader-text-wrapper">
    <div class="loader-text gradient"></div>
    <div class="loader-text gradient"></div>
  </div>
  <div class="loader-amount gradient"></div>
</div>
