<form #signUpForm="ngForm" (ngSubmit)="signUpWithEmailAndPassword(signUpForm)" class="form-grid">

  <h2 class="header">Sign Up!</h2>

  <text-input ngModel name="Name" minlength="1" required></text-input>
  <text-input ngModel name="Email" email required></text-input>
  <text-input ngModel name="Password" type="password" passwordPattern required></text-input>

  <div class="btn-container">
    <button standardBtn type="submit">Sign Up!</button>
    <p>Do you have an account? <a routerLink="/auth/signin">Sign In!</a></p>
  </div>

</form>
