<form #signInForm="ngForm" (ngSubmit)="signUpWithEmailAndPassword()">
  <label for="name">Imię</label>
  <input id="name"
         name="name"
         #name="ngModel"
         [(ngModel)]="newUser.name">

  <label for="email">Adres e-mail:</label>
  <input id="email"
         name="email"
         #email="ngModel"
         [(ngModel)]="newUser.email">

  <label for="password">Hasło:</label>
  <input id="password"
         name="password"
         #password="ngModel"
         [(ngModel)]="newUser.password">

  <button type="submit">Sign Up</button>
</form>

<button type="button" routerLink="../signup">Zarejestruj się</button>
