<div *ngIf="isNewBudgetFormOpen" class="form-card" @slideUp>
  <div class="x-icon-container">
    <i class="fas fa-times x-icon" (click)="closeNewBudgetCard()"></i>
  </div>

  <form #budgetForm="ngForm" (ngSubmit)="saveBudget(budgetForm)" class="form-container">

    <fieldset class="budget-fieldset">
      <text-input name="name"
                  class="budget-field"
                  ngModel
                  required></text-input>

      <text-input name="amount"
                  class="budget-field"
                  ngModel
                  type="number"
                  [isCheckIconVisible]="false"
                  required></text-input>
    </fieldset>

    <h4 class="category-header">Category</h4>
    <div class="categories-container">
      <div *ngFor="let category of categories; let i = index" class="category-container">
        <div class="category" (click)="selectCategory(category)">
          <i class="fas fa-circle category-circle"
             [class]="category.isSelected ?'selected-category-color' : 'standard-category-color'"></i>
          <i class="{{category.icon}} category-icon"></i>
        </div>
        <p *ngIf="i < customCategoryIndex" class="category-text">{{category.name}}</p>
        <text-input *ngIf="i === customCategoryIndex"
                    [(ngModel)]="category.name"
                    [ngModelOptions]="{standalone: true}"
                    [isLabelVisible]="false"
                    [isCheckIconVisible]="false"
                    class="custom-category"></text-input>
      </div>
    </div>

    <div class="btn-container">
      <button standardBtn type="submit">Save</button>
    </div>
  </form>
</div>
