<div class="budget-form-container">
  <div class="x-icon-container">
    <i class="fas fa-times x-icon" (click)="closeNewBudgetCard()"></i>
  </div>

  <form #budgetForm="ngForm" (ngSubmit)="saveBudget(budgetForm)" @fade>

    <fieldset class="budget-fieldset">
      <text-input name="name"
                  class="budget-field"
                  ngModel
                  required></text-input>

      <text-input name="amount"
                  class="budget-field"
                  ngModel
                  type="number"
                  [isCheckIconVisible]="false"
                  required></text-input>

      <text-input name="date"
                  class="budget-field"
                  ngModel
                  type="text"
                  [isDatepickerVisible]="true"
                  [isCheckIconVisible]="false"
                  required></text-input>

    </fieldset>

    <p class="cycle-header">Cycle</p>
    <div class="cycle-container">
      <div *ngFor="let cycle of cycles"
           class="cycle-element"
           [class]="cycle.isSelected ? 'selected-cycle' : 'standard-cycle'"
           (click)="selectCycle(cycle)">{{cycle.name}}
      </div>
    </div>

    <h4 class="category-header">Category</h4>
    <div class="categories-container">
      <div *ngFor="let category of categories; let i = index" class="category-container">
        <div class="category-element" (click)="selectCategory(category)">
          <i class="fas fa-circle category-circle"
             [class]="category.isSelected ?'selected-category-color' : 'standard-category-color'"></i>
          <i class="{{category.icon}} category-icon"></i>
        </div>
        <p *ngIf="i <= 6" class="category-text">{{category.name}}</p>
        <text-input *ngIf="i === addNewCategoryElement"
                    [(ngModel)]="category.name"
                    [ngModelOptions]="{standalone: true}"
                    [isLabelVisible]="false"
                    [isCheckIconVisible]="false"
                    style="max-width: 4rem; margin-top: 4px"></text-input>
      </div>
    </div>

    <input type="checkbox" id="cycle-checkbox" name="cycle-checkbox" value="true" [checked]="repeatCycle"
           (click)="isRepeatCycleFieldSelect()">
    <label for="cycle-checkbox"><span class="span-text">Repeat cycle</span></label>

    <div class="btn-container" [class]="insideBudgetCard ? 'additional-margin' : null">
      <button standardBtn type="submit">Save</button>
    </div>
  </form>
</div>
