@import "../../../../../assets/styles/colors";

:host {
  width: 100%;
  flex: 1;
  display: flex;
}

.budget-field {
  margin: 2rem 0;
}

.budget-fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background: $white;
  height: 100%;
}

.categories-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  display: grid;
  align-items: center;
  justify-items: center;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }

  &-header {
    margin: 2.2rem 0 .8rem;
    text-align: center;
  }

  &-icon {
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }

  &-text {
    font-size: 0.8rem;
    margin: 0.4rem 1.2rem;
  }

  &-circle {
    font-size: 4rem;
    margin: 0.4rem;
    cursor: pointer;
  }
}

.custom-category {
  max-width: 4rem;
  margin-top: 0.25rem;
}

.standard-category-color {
  color: $main-color-cyan;
}

.selected-category-color {
  color: $dark-color-cyan;
}

.pencil-icon {
  font-size: 0.8rem;
  margin-left: 0.4rem;
  cursor: pointer;
}

.btn-container {
  margin: 2rem 0 1.5rem;
  display: flex;
  flex: 1;
  align-items: flex-end;
}
