@import "../../../../../assets/styles/colors";

:host {
  width: 100%;
  flex: 1;
  display: flex;
}

.budget-field {
  margin: 2rem 0;
}

.budget-fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.form-container {
  padding: 0 1rem;
  background: $white;
}

.cycle-container {
  display: flex;
  justify-content: center;
}

.cycle-header {
  font-size: 0.9rem;
  align-self: flex-start;
  color: $medium-gray;
  margin: 1rem 2.6rem 1rem;
}

.cycle-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1.6rem;
  margin: 0.4rem;
  cursor: pointer;
}

.standard-cycle {
  border: 2px solid $light-gray;
}

.selected-cycle {
  color: $dark-color-cyan;
  border: 2px solid $main-color-cyan;
}

.categories-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  display: grid;
  align-items: center;
  justify-items: center;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }

  &-header {
    margin: 2.2rem 0 .8rem;
    text-align: center;
  }

  &-icon {
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }

  &-text {
    font-size: 0.8rem;
    margin: 0.4rem 1.2rem;
  }

  &-circle {
    font-size: 4rem;
    margin: 0.4rem;
    cursor: pointer;
  }
}

.custom-category {
  max-width: 4rem;
  margin-top: 0.25rem;
}

.standard-category-color {
  color: $main-color-cyan;
}

.selected-category-color {
  color: $dark-color-cyan;
}

.pencil-icon {
  font-size: 0.8rem;
  margin-left: 0.4rem;
  cursor: pointer;
}

.btn-container {
  margin: 2rem 0 1.5rem;
}

input[type=checkbox] + label {
  display: block;
  margin: 3rem 0 0 3rem;
  cursor: pointer;
  padding: 0.2rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid $light-gray;
  border-radius: 0.2rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
  padding-bottom: 0.4rem;
  margin-right: 0.4rem;
  vertical-align: center;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: $main-color-cyan;
  border-color: $main-color-cyan;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
