<div class="card-container" @fade>
  <div class="x-icon-container">
    <i class="fas fa-times x-icon" (click)="closeNewTransactionForm()"></i>
  </div>
  <h1 class="header">New transaction</h1>

  <form #transactionForm="ngForm" (ngSubmit)="saveTransaction(transactionForm)" class="form-container">
    <text-input name="name"
                class="transaction-field"
                ngModel
                required></text-input>

    <text-input name="amount"
                class="transaction-field"
                ngModel
                type="number"
                [isCheckIconVisible]="false"
                required></text-input>

    <text-input name="date"
                class="transaction-field"
                ngModel
                type="text"
                [isDatepickerVisible]="true"
                [isCheckIconVisible]="false"
                required></text-input>


    <h4 class="budget-header">Budget</h4>
    <div *ngFor="let budget of budgetsList"
         class="budget-container"
         [class.selected-budget]="budget.id === selectedBudgetId"
         (click)="selectBudget(budget)">

      <i *ngIf="checkIfStandardCategory(budget)" class="{{getStandardCategoryIcon(budget)}} category-icon"></i>
      <i *ngIf="!checkIfStandardCategory(budget)" class="fas fa-heart category-icon"></i>
      <p class="budget-info-name">{{budget.name}}</p>
      <p class="budget-info-amount">{{budget.amount | currencyFormat}}</p>

    </div>

    <div class="btn-container">
      <button standardBtn type="submit">Save</button>
    </div>

  </form>
</div>
