@import "../../../../../assets/styles/colors";

$top-container: 2rem;

:host {
  top: $top-container;
  width: 100%;
  height: calc(100% - #{$top-container});
  position: absolute;
  left: 0;
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0 -2.4px 7px 0 #0000001a;
  background-color: #fff;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1.5rem;
  padding-left: 1.75rem;
}

.transaction-field {
  margin: 1rem 0;
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background: $white;
  padding: 0 1.75rem 0 1.75rem;
}

.budget-header {
  margin: 2.2rem 0 .8rem;
  text-align: center;
}

.budget-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: solid 2px $light-gray;
  border-radius: 1rem;
  margin: .5rem 0;
  cursor: pointer;
}

.category-icon {
  color: $main-color-cyan;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.budget-info-name {
  flex: 1;
  margin: 0;
  text-align: left;
}

.budget-info-amount {
  margin: 0;
}

.selected-budget {
  border: solid 2px $main-color-cyan;
}

.btn-container {
  margin: 2rem 0 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
