@import "../../../../../assets/styles/colors";

:host {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 2rem;
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0 -2.4px 7px 0 #0000001a;
  background-color: #fff;
}

.x-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.transaction-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}

.x-icon {
  font-size: 1.5rem;
  margin: 1.25rem 1.5rem 0 0;
  color: $medium-gray;
  cursor: pointer;
}
