.navbar {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.main-nav {
  list-style-type: none;
}

main-nav li {
  text-align: center;
  margin: 10px auto;
}

.navlink,
.logo {
  text-decoration: none;
  color: #fff;
}

.logo {
  display: inline-block;
  font-size: 24px;
  margin: 10px 0 10px 0;
}


