@import "../../../assets/styles/colors";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.progress-bar-container {
  padding: 0 2rem;
  margin: 1.6rem 0;
}

.progress-bar {
  width: 100%;
  max-width: 22rem;
  height: .4rem;
  border-radius: 0.2rem;
  background-color: $light-gray;
}

.fill {
  height: .4rem;
  border-radius: 0.2rem;
  background-color: #4E4BED;
  margin-top: -0.4rem;
}

.step-one {
  width: 25%;
}

.step-two {
  width: 50%;
}

.step-three {
  width: 75%;
}
