@import "../../../../../assets/styles/colors";

:host {
  width: 100%;
  height: 100%;
}

.container {
  margin: 1.5rem;
}

.header {
  font-size: 1.5rem;
}

.main-info-wrapper {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.add-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.add-icon {
  font-size: 1.5rem;
  color: $main-color-cyan;
  cursor: pointer
}

.add-text {
  font-size: .75rem;
  margin-left: 0.5rem;
}
