<div class="container" @fade>
  <h1 class="header">Wallet</h1>

  <div *ngIf="walletList && incomesList" class="main-info-wrapper">
    <wallet-main-info name="Total amount" [amount]="totalAmountOfMoney"></wallet-main-info>
    <wallet-main-info name="Total income" [amount]="totalIncome"></wallet-main-info>
    <wallet-main-info name="Total outcome" [amount]="totalOutcome"></wallet-main-info>
  </div>

  <wallet-main-info-loader *ngIf="!walletList || !incomesList"></wallet-main-info-loader>

</div>

<card-slider [walletList]="walletList"></card-slider>

<add-button (openForm)="isNewWalletFormOpen = true" text="Add balance"></add-button>

<div *ngIf="isNewWalletFormOpen" class="form-card" @slideUp>
  <div class="x-icon-container">
    <i class="fas fa-times x-icon" (click)="isNewWalletFormOpen = false"></i>
  </div>
  <wallet-form [inInitialSettings]="false"
               (closeWalletFormEmitter)="isNewWalletFormOpen = false"></wallet-form>
</div>
