<div class="select-container" (swipeup)="toggleActiveOnSwipeUp(i)" (swipedown)="toggleActiveOnSwipeDown(i)">
  <div *ngFor="let day of daysOfMonth">
    <div *ngIf="incomeDays[i].isSwipingUp && incomeDays[i].active === day" @slideTop>
      <p class="unselected-day">{{incomeDays[i].previous}}.</p>
      <p class="selected-day">{{incomeDays[i].active}}.</p>
      <p class="unselected-day">{{incomeDays[i].next}}.</p>
    </div>

    <div *ngIf="incomeDays[i].isSwipingDown && incomeDays[i].active === day" @slideBottom>
      <p class="unselected-day">{{incomeDays[i].previous}}.</p>
      <p class="selected-day">{{incomeDays[i].active}}.</p>
      <p class="unselected-day">{{incomeDays[i].next}}.</p>
    </div>
  </div>
</div>
