:host {
  display: flex;
  height: 100%;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.dot-container {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  margin: 1rem;
}

.dot {
  background-color: #adadad;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  margin: 0 .5rem;
}

.dot-active {
  background-color: #3b3b3b;
}

.slide {
  pointer-events: none;
}
