<div class="navbar">
  <div class="element-container" (click)="goToDashboard()">
    <i class="fas fa-home navbar-icon"></i>
    <p class="title-text">Dashboard</p>
  </div>

  <div class="element-container" (click)="goToWallet()">
    <i class="fas fa-wallet navbar-icon"></i>
    <p class="title-text">Wallet</p>
  </div>

  <i class="fas fa-plus-circle plus-icon"></i>

  <div class="element-container" (click)="goToTransactions()">
    <i class="fas fa-random navbar-icon"></i>
    <p class="title-text">Transactions</p>
  </div>

  <div class="element-container" (click)="goToBudgets()">
    <i class="fas fa-file-alt navbar-icon"></i>
    <p class="title-text">Budgets</p>
  </div>
</div>
