@import "src/assets/styles/colors.scss";

.title {
  font-size: .75rem;
  color: $medium-gray;
  margin: 3rem 0 .25rem;
}

.chart {
  height: 14rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: .75rem;
  white-space: nowrap;
  padding: 1rem;
}

.x-axis {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  &-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 1rem;
  }

  &-bar {
    background: $main-color-cyan;
    color: white;
    width: .5rem;
    border-radius: 5rem;
    height: 100%;
    transform-origin: bottom;
  }

  &-day {
    font-size: .75rem;
    border-top: 1px $medium-gray solid;
    width: 100%;
    text-align: center;
    padding: .5rem .25rem 0 .25rem;
  }

  &-month {
    font-size: .5rem;
  }

  &-amount {
    font-size: .75rem;
  }
}

.y-axis {
  &-line {
    height: 90%;
    width: 1px;
    margin-bottom: 2.0625rem;
    border-right: 1px solid $medium-gray;
  }

  &-column {
    padding-bottom: 2.0625rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-amount {
    line-height: 1;
    margin-right: .5rem;
  }
}
