<form #signInForm="ngForm" (ngSubmit)="signInWithEmailAndPassword(signInForm)" class="form-grid">
  <h2 class="header">It's great<br> to see you again!</h2>

  <text-input id="Email" name="E-mail" type="text" [status]="isEmailValid(signInForm)"></text-input>
  <validation [form]="signInForm" name="Email" text="E-mail field is required"></validation>

  <text-input id="Password" name="Password" type="'password'" [status]="isPasswordValid(signInForm)"></text-input>
  <validation [form]="signInForm" name="Password" text="Password field is required"></validation>

  <p class="right">Forgot password?</p>

  <div class="btn-container">
    <button standardBtn type="submit">Sign In!</button>
    <p>Don't you have an account? <a routerLink="/auth/signup">Sign Up!</a></p>
  </div>
</form>


