<div class="container" @fade>
  <h1 class="header">Transactions</h1>

  <ng-container *ngIf="!isNewIncomeFormOpen && !isFilterFormOpen">
    <div class="filter-grid" *ngIf="transactionsList && !isTransactionsListEmpty">
      <div class="filter-grid-highlight"
           [class.filter-grid-highlight-right]="!isAllTransactionsView"
           [class.filter-grid-highlight-left]="isAllTransactionsView">
      </div>

      <div class="filter-buttons-container">
        <div class="filter-button"
             [class.filter-button-highlight]="isAllTransactionsView"
             (click)="setAllTransactions()">
          All
        </div>
        <div class="filter-button"
             [class.filter-button-highlight]="!isAllTransactionsView"
             (click)="setRepetitiveTransactions()">
          Repetitive
        </div>
      </div>
    </div>

    <img *ngIf="!isTransactionsListEmpty"
         src="assets/images/filter-icon.svg"
         alt="cash-image"
         class="filter-icon"
         (click)="openFilterForm()">

    <div>
      <filter-label *ngFor="let standardFilter of standardFilters"
                    [title]="standardFilter.name"></filter-label>
      <filter-label *ngFor="let budgetFilter of budgetsFilters"
                    [title]="budgetFilter.name"></filter-label>
    </div>

    <transactions-list *ngFor="let transaction of transactionsList"
                       [transaction]="transaction"></transactions-list>

    <transactions-list-loader *ngIf="!transactionsList"></transactions-list-loader>

    <add-button (openForm)="openIncomeForm()" text="Add income"></add-button>
  </ng-container>

</div>

<div *ngIf="isNewIncomeFormOpen" class="form-card" @slideUp>
  <div class="x-icon-container">
    <i class="fas fa-times x-icon" (click)="closeIncomeForm()"></i>
  </div>
  <income-form [inInitialSettings]="false"
               (closeIncomeFormEmitter)="closeIncomeForm()"></income-form>
</div>

<filter-form *ngIf="isFilterFormOpen"
             [isFilterFormOpen]="isFilterFormOpen"
             (closeFilterFormEmitter)="closeFilterForm()"></filter-form>
