@import "src/assets/styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: .25rem;
  font-weight: 500;
  font-size: .875rem;
}

.amount-danger {
  color: $red;
}
