<div class="container">
  <h1 class="header">Money Flow</h1>
  <h5>Application that will help you save money.</h5>

  <div class="img-container"></div>


  <div class="btn-container">

    <div class="dot-container">
      <span [class]="isActive === 1 ? 'dot dot-active' : 'dot'" (click)="toggleActive(1)"></span>
      <span [class]="isActive === 2 ? 'dot dot-active' : 'dot'" (click)="toggleActive(2)"></span>
      <span [class]="isActive === 3 ? ' dot dot-active' : 'dot'" (click)="toggleActive(3)"></span>
    </div>

    <button standardBtn routerLink="/auth/signup">Here we go!</button>
  </div>

</div>

