<i class="far fa-smile-beam main-icon"></i>
<h2 class="header">Set balance</h2>
<p>Fill the total amount of money you have</p>

<form #balanceForm="ngForm" (ngSubmit)="saveBalance(balanceForm)" class="form-grid">

  <fieldset *ngFor="let element of sources; let i = index" [ngModelGroup]="element.id.toString()" class="balance-section">

    <section [class]="element.isEditMode ? 'none-visibility' : 'source-name'">
      <span>{{element.name}}</span>
      <i class="fas fa-pencil-alt pencil-icon" (click)="element.isEditMode = true"></i>
    </section>

    <section [class]="!element.isEditMode ? 'none-visibility': 'source-edit-name'">
      <text-input [ngModel]="element.name" name="Name" [isLabelVisible]="false" [isCheckIconVisible]="false" required></text-input>
      <i class="fas fa-check save-icon" (click)="element.isEditMode = false"></i>
    </section>

    <text-input ngModel name="Amount" type="number" [isLabelVisible]="false" [isCheckIconVisible]="false" required></text-input>
  </fieldset>

  <p><i class="fas fa-plus-circle add-icon" (click)="addSource()"></i><span class="add-source-text">Add source</span></p>

  <div class="btn-container">
    <button standardBtn type="submit">Next</button>
    <p>Skip now</p>
  </div>
</form>



