<div class="loaders-container">
  <div class="loaders-section">
    <div class="loader-text gradient"></div>
    <div class="loader-amount gradient"></div>
  </div>
  <div class="loaders-section">
    <div class="loader-text gradient"></div>
    <div class="loader-amount gradient"></div>
  </div>
  <div class="loaders-section">
    <div class="loader-text gradient"></div>
    <div class="loader-amount gradient"></div>
  </div>
  <div class="loaders-section">
    <div class="loader-text gradient"></div>
    <div class="loader-amount gradient"></div>
  </div>
</div>
