.loaders-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 3rem;
}

.loader-amount {
  width: 45%;
  height: 1.5rem;
}

.loader-text {
  width: 40%;
  height: .75rem;
  margin-top: .5rem;
}
