@import "../../../../../assets/styles/colors";

:host {
  width: 100%;
  flex: 1;
  display: flex;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-grid {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background: $white;
}

.header {
  margin: 1rem 0 .5rem;
}

.balance-section {
  border: none;
  width: 50%;
  padding: 0;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.source-name {
  text-align: center;
  margin-top: 2.25rem;
  font-weight: bold;
}

.source-edit-name {
  display: flex;
  align-items: center;
}

.btn-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  margin: 0 2rem 1rem;
}

.main-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 3.75rem;
  background-color: $main-color-cyan;
  margin-bottom: 1rem;
}

.main-icon {
  width: 50%;
}

.pencil-icon {
  font-size: 0.75rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.add-source-text {
  font-size: .75rem;
  margin-left: 0.5rem;
}

.save-icon {
  margin-left: 1rem;
  cursor: pointer;
}

.none-visibility {
  display: none;
}

.skip-text {
  cursor: pointer;
}

p {
  text-align: center;
  font-size: .75rem;
  margin: .5rem 0;
}

