<div class="container" (swipeleft)="switchCardOnLeft()" (swiperight)="switchCardOnRight()">
  <div class="card-container">
    <ng-container *ngFor="let source of walletList; let i = index">
      <ng-container *ngIf="isSwipingRight">
        <div *ngIf="active === i" class="wallet-details-wrapper" @slideLeft>
          <div *ngIf="i > 0" class="wallet-previous-card"></div>
          <div class="wallet-card">
            <p class="wallet-amount-text">{{source.name}}</p>
            <p class="wallet-amount-number">{{source.amount | currencyFormat}}</p>
          </div>
          <div *ngIf="i < walletList.length - 1" class="wallet-next-card"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="isSwipingLeft">
        <div *ngIf="active === i" class="wallet-details-wrapper" @slideRight>
          <div *ngIf="i > 0" class="wallet-previous-card"></div>
          <div class="wallet-card">
            <p class="wallet-amount-text">{{source.name}}</p>
            <p class="wallet-amount-number">{{source.amount | currencyFormat}}</p>
          </div>
          <div *ngIf="i < walletList.length - 1" class="wallet-next-card"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

