<div class="container">
  <svg height="160" width="160" viewBox="0 0 160 160">

    <circle *ngFor="let budget of budgetsPercentList; let i = index"
            [attr.cx]="cx"
            [attr.cy]="cy"
            [attr.r]="radius"
            [attr.stroke-dasharray]="returnCircumferenceWithGap()"
            [attr.stroke-dashoffset]="calculateStrokeDashOffset(budget.percentage, returnCircumference())"
            [attr.stroke-width]="width"
            [attr.stroke]="budget.color"
            [attr.transform]="returnCircleTransformValue(i)"
            fill="transparent"></circle>

    <ng-container *ngFor="let budget of budgetsPercentList; let i = index">
      <text *ngIf="segmentBigEnough(budget)"
            [attr.x]="budgetsPercentList[i].textX"
            [attr.y]="budgetsPercentList[i].textY"
            [attr.fill]="'#fff'"
            dy="5px"
            font-size="10"
            text-anchor="middle">{{ percentageLabel(budget) }}</text>
    </ng-container>

  </svg>

  <div class="legend">
    <div *ngFor="let budget of budgetsPercentList" class="legend-row">
      <div [style.background]="budget.color" class="legend-color"></div>
      <span class="legend-text">{{budget.name}}</span>
    </div>
  </div>
</div>
