<div class="container" @fade>
  <h1 class="header">Budgets</h1>

  <div class="budget-list-wrapper">
    <budgets-list-element *ngFor="let budget of budgetsList; let i = index"
                          [budget]="budget"></budgets-list-element>
  </div>

  <budgets-list-loader *ngIf="!budgetsList"></budgets-list-loader>
</div>

<div class="add-icon-container">
  <i class="fas fa-plus-circle add-icon" (click)="addBudget()"></i>
  <span class="add-budget-text">Add budget</span>
</div>

<budgets-form [isNewBudgetFormOpen]="isNewBudgetFormOpen"
              (closeNewBudgetFormEmitter)="isNewBudgetFormOpen = false"></budgets-form>
