$main-color-cyan: #27E0C1;
$main-color-violet: #4E4BED;
$light-gray: #d9d9d9;
$medium-gray: #b5b5b5;
$dark-gray: #3b3b3b;

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: $dark-gray;
}

body {
  margin: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4E4BED;
  font-weight: bold;
}
