@import "src/assets/styles/colors.scss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html, body {
  margin: 0;
  height: 100%;
  color: $dark-gray;
}

body {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4E4BED;
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
}

.bs-datepicker-body table td.week span {
  color: $medium-color-cyan !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
  background-color: $main-color-violet !important;
}

.bs-datepicker-head button.current {
  color: #fff !important;
  font-weight: bold;
}
