@import "src/assets/styles/colors.scss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html, body {
  margin: 0;
  height: 100%;
  color: $dark-gray;
}

body {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4E4BED;
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
  background-color: $main-color-violet !important;
}

.bs-datepicker-head button.current {
  color: #fff !important;
  font-weight: bold;
}

.loader-gradient {
  border-radius: 1rem;
  animation-name: loaderShimmer;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee 8%, #ffffff 18%, #ececec 33%);
  background-size: 50rem 7rem;
  animation-duration: 1.2s;
}

@keyframes loaderShimmer {
  0% {
    background-position: -30rem 0
  }
  100% {
    background-position: 30rem 0
  }
}

.form-card {
  top: 3.5rem;
  width: 100%;
  height: calc(100% - 3.5rem);
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #fff;
  box-shadow: 0 -2.4px 7px 0 #0000001a;
  z-index: 1;
}

.x-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.x-icon {
  font-size: 1.5rem;
  margin: 1rem 1.25rem;
  color: $medium-gray;
  cursor: pointer;
}

.bs-datepicker-body table td.week span {
  color: $medium-color-cyan !important;
}
