@import "src/assets/styles/colors.scss";

.main-info-element {
  width: 100%;
  display: flex;
  border-bottom: #f5f5f5 1px solid;
  padding: .5rem 0;
}

.amount-text {
  color: $medium-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
  font-size: .75rem;
}

.amount-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
  flex: 1;
  align-items: flex-end;
  font-weight: bold;
}
