.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  display: flex;
  flex-wrap: wrap;

  &-row {
    display: flex;
    margin: .5rem;
  }

  &-color {
    width: .75rem;
    height: .75rem;
    border-radius: .25rem;
    margin: .125rem .25rem 0;
  }

  &-text {
    font-size: .75rem
  }
}
