@import "src/assets/styles/colors.scss";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 1.5rem;
}

.header {
  font-size: 1.5rem;
}

.amount-text {
  font-size: .75rem;
  color: $medium-gray;
  margin: 2rem 0 .25rem;
}

.amount-number {
  font-size: 1.25rem;
  font-weight: 600;
}

.y-axis {
  font-size: .75rem;
  margin: 1rem;
}

.x-axis {
  display: flex;
  align-items: flex-end;
  font-size: .75rem;
  white-space: nowrap;
  padding: 1rem;

  &-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1rem;
  }
}
