<div class="container" @fade>
  <ng-container *ngIf="userName && walletList">
    <div class="header-container">
      <h1 class="header">Hello,<br>{{userName}}!</h1>
      <div>
        <span class="logout-text" (click)="logout()">Log out
          <i class="fas fa-sign-out-alt logout-icon"></i>
        </span>
      </div>
    </div>
    <p class="amount-text">Total amount of money</p>
    <p class="amount-number">{{totalAmountOfMoney | currencyFormat}}</p>
  </ng-container>

  <ng-container *ngIf="!isTransactionsListEmpty">
    <transactions-bar-chart *ngIf="transactionsList?.length > 0"
                            [transactionsList]="transactionsList"></transactions-bar-chart>
    <budgets-donut-chart *ngIf="transactionsList?.length > 0"
                         [transactionsList]="transactionsList"></budgets-donut-chart>
    <budgets-spending></budgets-spending>
  </ng-container>

  <dashboard-main-info-loader *ngIf="!userName || !walletList"></dashboard-main-info-loader>
</div>

<div class="no-data-container">
  <no-data-info *ngIf="noChartsData"
                [text]="'Complete the data to see month statistics'"></no-data-info>
</div>

