<div class="container" @fade>
  <div class="main-icon-container">
    <img src="assets/images/main-icon.svg" alt="cash-image" class="main-icon">
  </div>
  <h2 class="header">Set income</h2>
  <p>Fill your regular income</p>

  <form #incomeForm="ngForm" class="form-grid" (ngSubmit)="saveIncomes(incomeForm)">

    <div *ngFor="let i of incomeNumber | iterate" [ngModelGroup]="i" class="form-container">

      <fieldset class="amount-fieldset">
        <text-input name="name"
                    class="income-field"
                    ngModel
                    required></text-input>

        <text-input name="amount"
                    class="income-field"
                    ngModel
                    type="number"
                    [isCheckIconVisible]="false"
                    required></text-input>
      </fieldset>

      <h4 class="header">Day of the month</h4>
      <day-of-month-select [incomeDay]="incomeDaysArray[i]"></day-of-month-select>

    </div>

    <div class="add-icon-container">
      <i class="fas fa-plus-circle add-icon" (click)="addIncome()"></i>
      <span class="add-text">Add income</span>
    </div>

    <div class="btn-container">
      <button standardBtn type="submit">Next</button>
      <p class="skip-text" (click)="skipInitialSettings()">Skip now</p>
    </div>
  </form>
</div>
