@import "../../../../../assets/styles/colors";

:host {
  width: 100%;
  flex: 1;
  display: flex;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-grid {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 0 3rem;
}

.main-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: $main-color-cyan;
  margin-bottom: 1rem;
}

.main-icon {
  font-size: 3rem;
  color: #fff;
}

.header {
  margin: 1rem 0 .4rem;
  user-select: none;
}

.amount-fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}


.add-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-text {
  font-size: .8rem;
  margin-left: 0.4rem;
}

.skip-text {
  cursor: pointer;
}

.add-icon {
  font-size: 1.4rem;
  color: $main-color-cyan;
  cursor: pointer;
}

.btn-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  margin: 0 2rem 1rem;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
  font-size: .8rem;
  margin: .4rem 0;
}
